@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0d0b09] text-white;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
  
  .font-serif {
    font-family: 'Playfair Display', serif;
  }
  
  .font-sans {
    font-family: 'Inter', sans-serif;
  }
}



